
html { 
  background: url(../img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#button{
   text-align: right;
   margin-right: 5%;
}

#resetGame {
height: 37px;
width: 37px;  
background-image:url(../img/eraser.png);
background-repeat:no-repeat;
margin-top: -20px;
   background-size:100%;
}

#handShow {
height: 100px;
width: 400px;  
background-image:url(../img/hand.png);
background-repeat:no-repeat;
   background-size:100%;
   margin-left:auto;
   margin-right:auto;
}

#score {
  float : right;
  display: inline-block;
	height: 50px;
	width: 150px;
	left: 500px;
	border: 1px solid;
	font-size: large;
	color: white;
	background: none;
  border: 1px solid #DDD;
  border-radius: 5px;
  box-shadow: 0 0 5px #DDD inset;
  color: #666;
  padding: 5px 10px;
  outline: none;
  margin-right: 100px;
}
#header {
	display:block;
	background: url(../img/logo.png) no-repeat scroll 0 0 transparent; 
    text-indent: -6000px;
	width: 525px;
	height: 350px;
	position: absolute;
	top: -20px;
	left: 210px;
}

#ask {
	display:block;
	background: url(../img/ask.png) no-repeat scroll 0 0 transparent; 
  text-indent: -6000px;
	width: 400px;
	height: 600px;
	position: absolute;
	top: -40px;
	left: -40px;
}

#question{
  max-height: 200px;
  width: 1000px;
  background: #F7AD2A;
  position: absolute;
  top: 400px;
  left: 340px;
  padding: 40px;
  color: #222;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
  font-family: Helvetica, Arial, Sans;
  border-radius: 30px;
  border: 15px solid #FFF;
  box-shadow:  0px 0px 10px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow:  0px 0px 10px 10px rgba(0, 0, 0, 0.5);
}

#answer {
  max-height: 200px;
  width: 1100px;
  position: absolute;
  top: 700px;
  left: 340px;
  padding: 40px;
  color: #222;
  font-weight: bold;
  font-size: 30px;
  line-height: 50px;
  font-family: Helvetica, Arial, Sans;
}

#answer .answer {
  background: #f90;
  width: 460px;
  height: 50px;
  padding: 20px;
  text-align: center;
  font-family: Helvetica, Arial, Sans;
  border-radius: 30px;
  border: 15px solid #FFF;
  box-shadow:  0px 0px 10px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow:  0px 0px 10px 10px rgba(0, 0, 0, 0.5);
}

#answer .answer.highlight {
  opacity: 0.5;
}

#answerLeft {
  float: left
}

#answerRight {
  float: right;
}


