body {
	background-image: url('../img/bg_pattern.png') repeat-x repeat-y;
}

#question{
	height: 400px;
	width: 800px;
	text-align: center;
	border: 1px solid;
	font-size: larger;
}

#answerLeft {
	display: inline-block;
	height: 200px;
	width: 200px;
	left: 200px;
	border: 1px solid;
	font-size: large;
}

#answerRight {
	display: inline-block;
	height: 200px;
	width: 200px;
	left: 500px;
	border: 1px solid;
	font-size: large;
}