
html { 
  background: url(../img/bg.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}


#header {
	display:block;
	background: url(../img/logo.png) no-repeat scroll 0 0 transparent; 
  text-indent: -6000px;
	width: 525px;
	height: 350px;
	position: absolute;
	top: -20px;
	left: 210px;
}

#ask {
	display:block;
	background: url(../img/ask.png) no-repeat scroll 0 0 transparent; 
  text-indent: -6000px;
	width: 400px;
	height: 600px;
	position: absolute;
	top: -40px;
	left: -40px;
}

#twlogo {
  display:block;
  background: url(../img/tw.png) no-repeat scroll 0 0 transparent; 
  text-indent: -6000px;
  width: 300px;
  height: 50px;
  position: absolute;
  top: 60px;
  right: 100px;
}

#question {
  max-height: 200px;
  width: 1000px;
  background: #F7AD2A;
  position: absolute;
  top: 400px;
  left: 340px;
  padding: 40px;
  color: #222;
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  line-height: 50px;
  font-family: Helvetica, Arial, Sans;
  border-radius: 30px;
  border: 15px solid #FFF;
  box-shadow:  0px 0px 10px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow:  0px 0px 10px 10px rgba(0, 0, 0, 0.5);
}

#answer {
  max-height: 200px;
  width: 1100px;
  position: absolute;
  top: 700px;
  left: 340px;
  padding: 40px;
  color: #222;
  font-weight: bold;
  font-size: 30px;
  line-height: 50px;
  font-family: Helvetica, Arial, Sans;
}

#answer .answer {
  background: #f90;
  width: 460px;
  height: 50px;
  padding: 20px;
  text-align: center;
  font-family: Helvetica, Arial, Sans;
  border-radius: 30px;
  border: 15px solid #FFF;
  box-shadow:  0px 0px 10px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow:  0px 0px 10px 10px rgba(0, 0, 0, 0.5);
}

#answer .answer.highlight {
  opacity: 0.5;
}

#answerLeft {
  float: left
}

#answerRight {
  float: right;
}

#countdown {  
  top: 300px;
  right: 250px;
  position: absolute;
  height: 90px;  
}


#score {
  list-style-type: none;
  position: absolute;
  top: 150px;
  right: 50px;
}

.bulb {
  background: #bbb;
  margin-bottom: 30px;
  height: 50px;
  width: 50px;
  border: 5px solid #eee;
  border-radius: 50px;
  font-size: 20px;
  line-height: 50px;
  font-family: Helvetica, Arial, Sans;
  font-weight: bold;
  text-align: center;
  -webkit-border-radius: 50px;
  box-shadow:  0px 0px 10px 10px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow:  0px 0px 10px 10px rgba(0, 0, 0, 0.5);
}

.bulb.green {
  background: #090;
}

.bulb.red {
  background: #f00;
}